@model WebApp_GozenBv.Models.Stock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityNew" class="control-label"></label>
                <input asp-for="QuantityNew" class="form-control" />
                <span asp-validation-for="QuantityNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinQuantity" class="control-label"></label>
                <input asp-for="MinQuantity" class="form-control" />
                <span asp-validation-for="MinQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityUsed" class="control-label"></label>
                <input asp-for="QuantityUsed" class="form-control" />
                <span asp-validation-for="QuantityUsed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoReturn" /> @Html.DisplayNameFor(model => model.NoReturn)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
