@using WebApp_GozenBv.Constants;
@model WebApp_GozenBv.ViewModels.StatusIconViewModel;

<div class="d-flex flex-row justify-content-start">
    @if (Model.Status == StockLogStatusConst.Created)
    {
        <img width="20" src="~/resources/icons/check-svgrepo-com.svg" />
    }

    @if (Model.Status == StockLogStatusConst.DamagedAwaitingAction)
    {
        <img width="20" src="~/resources/icons/red-exclamation-mark-svgrepo-com.svg" />
    }

    @if (Model.Status == StockLogStatusConst.Returned)
    {
        <img width="20" src="~/resources/icons/return-svgrepo-com.svg" />
        if (Model.IsDamaged)
        {
            <img width="20" src="~/resources/icons/close-bold-svgrepo-com.svg" />
        }
    }
</div>