@using WebApp_GozenBv.Constants;
@model WebApp_GozenBv.ViewModels.StatusIconViewModel;

<div class="d-flex flex-row justify-content-start">
    @if (Model.Status == MaterialLogStatusConst.Created)
    {
        <img width="20" title="@LogIconTitles.TakenMaterial" src="~/resources/icons/tool-svgrepo-com.svg" />
    }

    @if (Model.Status == MaterialLogStatusConst.Returned)
    {
        <img width="20" title="@LogIconTitles.Returned" src="~/resources/icons/return-svgrepo-com.svg" />
        if (Model.IsDamaged)
        {
            <img width="20" title="Damaged" src="~/resources/icons/close-bold-svgrepo-com.svg" />
        }
    }

    @if (!Model.IsApproved)
    {
        <img width="20" title="@LogIconTitles.Approved" src="~/resources/icons/red-exclamation-mark-svgrepo-com.svg" />
    }

    @if (Model.IsApproved)
    {
        <img width="20" title="@LogIconTitles.NotApproved" src="~/resources/icons/check-svgrepo-com.svg" />
    }
</div>