@model WebApp_GozenBv.ViewModels.StockLogCreateVM

@{
    ViewData["Title"] = "Create";

}

<h1>Formulier</h1>

<h4>StockLog</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" autocomplete="off">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Datum</label>
                    <input asp-for="StockLogDate" class="form-control" />
                    <span asp-validation-for="StockLogDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Werknemer</label>
                    <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.employees"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" onclick="PassProducts()" class="btn btn-primary" />
                </div>
                <input class="d-none" id="productsResult" asp-for="SelectedProducts" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div id="SelectedProducts">
            <div class="d-flex flex-row justify-content-end bg-secondary">
                <div class="col-6">Materiaal</div>
                <div class="col-2">Aantal</div>
                <div class="col-4">
                    <button onclick="NewRow()" class="btn btn-primary">Add</button>
                </div>
            </div>

            <div id="rowCollection">
                <div class="productRow">
                    <div class="form-group d-flex flex-row justify-content-between">
                        <div class="col-6">
                            <select class="inputProduct form-control" asp-items="ViewBag.stock"></select>
                        </div>
                        <div class="col-2">
                            <input class="form-control inputAmount" type="number" value="1" min="1" placeholder="Aantal" />
                        </div>
                        <div class="col-4">
                            <button onclick="RemoveRow(this)" value="Remove" class="btn btn-primary">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<select id="selectQty" hidden asp-items="@ViewBag.stockQuantity"></select>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/StockLog_Create.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
