@model WebApp_GozenBv.Models.StockLog

@{
    ViewData["Title"] = "Create";

}

<h1>Formulier</h1>

<h4>StockLog</h4>
<hr />
<form asp-action="Create" autocomplete="off">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Datum</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ophalen/Terugbrengen</label>
                <select asp-for="Action" asp-items="ViewBag.actions" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Werknemer</label>
                <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.employees"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-6">
            <div id="SelectedProducts">
                <div class="d-flex flex-row justify-content-end bg-secondary">
                    <div class="col-6">Materiaal</div>
                    <div class="col-2">Aantal</div>
                    <div class="col-4">
                        <button onclick="NewRow()" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <div id="parentRow">
                    <div id="item0">
                        <div class="form-group d-flex flex-row justify-content-between">
                            <div class="col-6">
                                <select asp-for="OrderItem.ProductId" asp-items="ViewBag.Stock" class="form-control"></select>
                            </div>
                            <div class="col-2">
                                <input class="form-control" id="inputQuantity" placeholder="Aantal" value="1" />
                            </div>
                            <div class="col-4" style="visibility: hidden">
                                <button onclick="RemoveRow(this)" value="Remove" class="btn btn-primary">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let index = 0;
    const original = document.getElementById("item0")

    function NewRow() {
        var clone = original.cloneNode(true);
        index++;
        clone.id = `item${index}`;
        clone.firstChild.nextSibling.children[2].removeAttribute("style");
        original.after(clone);
    }

    function RemoveRow(obj) {
        element = obj.parentNode.parentNode.parentNode;
        document.getElementById("parentRow").removeChild(element);
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
