@model WebApp_GozenBv.Models.StockLog

@{
    ViewData["Title"] = "Create";

}

<h1>Formulier</h1>

<h4>StockLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Datum</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ophalen/Terugbrengen</label>
                <select asp-for="Action" asp-items="ViewBag.actions" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Werknemer</label>
                <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.employees"></select>
            </div>

                @*<div class="list-group">
                    @foreach (var product in ViewBag.stock)
                    {
                        <button id="btnProduct" type="button" class="list-group-item list-group-item-action">@product.Text</button>
                    }
                </div>*@

            @*<div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" onclick="passProduct(1)" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-primary">
        <div class="d-flex flex-row justify-content-end bg-secondary">
            <div class="col-10">Materiaal</div>
            <div class="col-2">Aantal</div>
        </div>
        <div>
            <div class="form-group d-flex justify-content-between">
                <select class="col-8 form-control selectpicker" id="selectProduct" data-live-search="true">
                    <option id="option" disabled selected>Selecteer producten</option>
                    @foreach (var product in ViewBag.stock)
                    {
                        <option id="optionProduct" value="@product.Value">@product.Text</option>
                    }
                </select>
                <input class="col-2" id="inputQuantity" placeholder="Aantal" value="1"/>
            </div>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/StockLog_Create.js"></script>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
