@model WebApp_GozenBv.ViewModels.StockLogVM

@{
    ViewData["Title"] = "Create";

}

<h1>Formulier</h1>

<h4>StockLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Datum</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ophalen/Terugbrengen</label>
                <select asp-for="Action" asp-items="ViewBag.actions" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Werknemer</label>
                <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.employees"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-primary">
        @*<div class="d-flex flex-row justify-content-end bg-secondary">
            <div class="col-10">Materiaal</div>
            <div class="col-2">Aantal</div>
        </div>
        <div>
            <div class="form-group d-flex justify-content-between">
                <select class="col-8 form-control selectpicker" id="selectProduct" data-live-search="true">
                    <option id="option" disabled selected>Selecteer producten</option>
                    @foreach (var product in ViewBag.stock)
                    {
                        <option id="optionProduct" value="@product.Value">@product.Text</osption>
                    }
                </select>
                <input class="col-2" id="inputQuantity" placeholder="Aantal" value="1"/>
            </div>
        </div>*@
        <table id="SelectedProducts">
            <tr class="d-flex flex-row justify-content-end bg-secondary">
                <th class="col-10">Materiaal</th>
                <th class="col-2">Aantal</th>
                <th>
                    <button id="btnAdd">+</button>
                </th>
            </tr>
            <tr id="trStock" class="d-none">
                <td class="form-group d-flex justify-content-between">
                    <select asp-for="" class="col-8 form-control selectpicker" id="selectProduct" data-live-search="true">
                        <option disabled selected>Selecteer producten</option>
                        @foreach (var product in ViewBag.stock)
                        {
                            <option value="@product.Value">@product.Text</option>
                        }
                    </select>
                </td>
                <td>
                    <input class="col-2" id="inputQuantity" placeholder="Aantal" value="1"/>
                </td>
                <td>
                    <button class="btnRemove">Remove</button>
                </td>
            </tr>
        </table>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/StockLog_Create.js"></script>
<script>AddNewRow()</script>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
