@model WebApp_GozenBv.ViewModels.LogItemsCreatedEditViewModel



    <h5>Items</h5>
    <hr />
    <div>
        <div>
            <div class="flex-column d-flex">
                <div class="flex-row d-flex mb-2">
                    <div class="col-md-3">Material</div>
                    <div class="col-md-3">MaterialAmount</div>
                    <div class="col-md-3">Used?</div>
                </div>

                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <div class="flex-row d-flex">
                        <div class="col-md-3 form-group">
                            <select asp-for="Items[i].MaterialId" asp-items="ViewBag.Materials" class="form-control"></select>
                            <span asp-validation-for="Items[i].MaterialId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <input asp-for="Items[i].MaterialAmount" class="form-control" />
                            <span asp-validation-for="Items[i].MaterialAmount" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Items[i].Used" class="form-control" />
                        </div>
                    </div>
                }
            </div>
            @*add or remove rows here*@
        </div>
    </div>
