@model WebApp_GozenBv.ViewModels.LogItemsCreatedEditViewModel

    <table class="table table-bordered table-striped table-sm col-md-8">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Log Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Employee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input asp-for="MaterialLog.LogDate" disabled class="form-control" />
                <span asp-validation-for="MaterialLog.LogDate" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="MaterialLog.ReturnDate" class="form-control" />
                <span asp-validation-for="MaterialLog.ReturnDate" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="MaterialLog.EmployeeId" asp-items="@ViewBag.Employees" class="form-control"></select>
                <span asp-validation-for="MaterialLog.EmployeeId" class="text-danger"></span>
            </td>
        </tr>
    </tbody>
</table>

    <h5>Items</h5>
    <hr />
    <div>
        <div>
            <div class="flex-column d-flex">
                <div class="flex-row d-flex mb-2">
                    <div class="col-md-3">Material</div>
                    <div class="col-md-3">MaterialAmount</div>
                    <div class="col-md-3">Used?</div>
                </div>

                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <div class="flex-row d-flex">
                        <div class="col-md-3 form-group">
                            <select asp-for="Items[i].MaterialId" asp-items="ViewBag.Materials" class="form-control"></select>
                            <span asp-validation-for="Items[i].MaterialId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            <input asp-for="Items[i].MaterialAmount" class="form-control" />
                            <span asp-validation-for="Items[i].MaterialAmount" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Items[i].IsUsed" class="form-control" />
                        </div>
                    </div>
                }
            </div>
            @*add or remove rows here*@
        </div>
    </div>
