@model WebApp_GozenBv.Models.WagenPark

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WagenPark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LicencePlate" class="control-label"></label>
                <input asp-for="LicencePlate" class="form-control" />
                <span asp-validation-for="LicencePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChassisNumber" class="control-label"></label>
                <input asp-for="ChassisNumber" class="form-control" />
                <span asp-validation-for="ChassisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeuringDate" class="control-label"></label>
                <input asp-for="KeuringDate" class="form-control" />
                <span asp-validation-for="KeuringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineKeuring" class="control-label"></label>
                <input asp-for="DeadlineKeuring" class="form-control" />
                <span asp-validation-for="DeadlineKeuring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmaId" class="control-label"></label>
                <select asp-for="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"></select>
                <span asp-validation-for="FirmaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
