@model WebApp_GozenBv.ViewModels.LogItemsReturnedEditViewModel

<table class="table table-bordered table-striped table-sm col-md-8">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Log Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Employee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input asp-for="MaterialLog.LogDate" disabled class="form-control" />
                <span asp-validation-for="MaterialLog.LogDate" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="MaterialLog.ReturnDate" class="form-control" />
                <span asp-validation-for="MaterialLog.ReturnDate" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="MaterialLog.EmployeeFullName" disabled class="form-control" />
                <span asp-validation-for="MaterialLog.EmployeeId" class="text-danger"></span>
            </td>
        </tr>
    </tbody>
</table>

<h5>Items</h5>
<hr />
<div>
    <div>
        <div class="flex-column d-flex">
            <div class="flex-row d-flex mb-2">
                <div class="col-md-3">Material</div>
                <div class="col-md-2">MaterialAmount</div>
                <div class="col-md-1 d-flex justify-content-center">Used?</div>
                <div class="col-md-1 d-flex justify-content-center">Damaged?</div>
                <div class="col-md-2">DamagedAmount</div>
                <div class="col-md-2">RepairAmount</div>
                <div class="col-md-2">DeleteAmount</div>
            </div>

            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <div class="flex-row d-flex">
                    <div class="col-md-3 form-group">
                        <input asp-for="Items[i].ProductNameCode" disabled class="form-control"/>
                    </div>
                    <div class="col-md-2 form-group">
                        <input asp-for="Items[i].MaterialAmount" disabled class="form-control col-md-6" />
                        <span asp-validation-for="Items[i].MaterialAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-1 form-check d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox" disabled asp-for="Items[i].IsUsed" class="form-control" />
                    </div>
                    <div class="col-md-1 form-check d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox" asp-for="Items[i].IsDamaged" class="form-control" data-row-index="@i" />
                    </div>
                    <div class="col-md-2 form-group">
                        <input asp-for="Items[i].DamagedAmount" class="form-control col-md-6" />
                        <span asp-validation-for="Items[i].DamagedAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 form-group">
                        <input asp-for="Items[i].RepairAmount" class="form-control col-md-6" />
                        <span asp-validation-for="Items[i].RepairAmount" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 form-group">
                        <input asp-for="Items[i].DeleteAmount" class="form-control col-md-6" />
                        <span asp-validation-for="Items[i].DeleteAmount" class="text-danger"></span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>